/* .App {
  text-align: center;
  background: black;
}  */

.body {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.about-me{
  font-family: 'Cutive Mono', monospace;
  font-size: 50px;
  transform: translateY(-50%);
}

.me-paragraph{
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
}

.header-container {
  height: 20vh;
  width: 100%;
}

.navigation-bar{
  display: flex;
  height: 20vh;
  width: auto;
  justify-content: center;
}

.navigation-bar a {
  padding-top: 100px ;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.tetris {
  border: solid 5px black;
  height: auto;
  width: 20vw;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}

.tetris-image{
  align-items: center;
}

.tetris-image img {
  height: 20vh;
  width: 15vw;
}

.tetris-links {
  position: absolute;
  bottom: 0;
}

.ubike {
  border: solid 5px black;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}

.ubike-image img{
  height: 25vh;
  width: 15vw;
  padding-left: 20px;
  padding-right: 20px;
}

.ubike-links {
  position: absolute;
  bottom: 0;
}

.munch{
  border: solid 5px black;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}

.munch-links {
  /* position: absolute; */
  /* bottom: 0; */
}

.flatiron-trivia {
  border: solid 5px black;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5%;
  position: relative;
}

.flatiron-trivia-image img {
  height: 25vh;
  width: 15vw;
  padding-left: 20px;
  padding-right: 20px;
}

.flatiron-trivia-links {
  /* position: absolute; */
  bottom: 0;
}

.kl-finance {
  border: solid 5px black;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5%;
  position: relative;
}

.kl-finance-links {
  position: absolute;
  bottom: 0;
}

.portfolio {
  border: solid 5px black;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}

.portfolio-links {
  position: absolute;
  bottom: 0;
}

.projects-container {
  padding-left: 5%;
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
}

.projects-container h2 {
  text-align: center;
}

.projects-container p {
  font-size: 18px;
  text-align: center;
}

.projects-container li {
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
}

.projects-header{
  text-align: center;
  font-size: 30px;
  padding-bottom: 40px;
}

.profile-pic-container img {
  border-radius: 50%;
}

.description {
  font-family: 'Amiri', serif;
}

.design-credit {
  text-align: center;
}