/* .App {
  text-align: center;
  background: black;
}  */

.typewriter{
  margin-top: auto;
  font-family: 'Cutive Mono', monospace;
  font-size: 110px;
  color: white;
  text-shadow: 0px 0px 10px white;
}

.me-paragraph{
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  color: white;
}

.header-container {
  height: 20vh;
  width: 100%;
}

.navigation-bar{
  display: flex;
  height: 12vh;
  width: auto;
  justify-content: center;
}

.navigation-bar a {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

.tetris {
  border: solid 5px white;
  height: auto;
  width: 20vw;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  color: white;
  box-shadow: 0px 0px 15px white;
}

.tetris-image{
  align-items: center;
}

.tetris-image img {
  height: 20vh;
  width: 15vw;
}

.tetris-links {
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin-left: 2%;
}

.ubike {
  border: solid 5px white;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  color: white;
  box-shadow: 0px 0px 15px white;
}

.ubike-image img{
  height: 25vh;
  width: 15vw;
  padding-left: 20px;
  padding-right: 20px;
}

.ubike-links {
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin-left: 2%;
}

.munch{
  border: solid 5px white;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  color: white;
  box-shadow: 0px 0px 15px white;
}

.munch-links {
  position: sticky;
  bottom: 0;
  display: inline-block;
  margin-left: 2%;
}

.flatiron-trivia {
  border: solid 5px white;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5%;
  position: relative;
  color: white;
  box-shadow: 0px 0px 15px white;
}

.flatiron-trivia-image img {
  height: 25vh;
  width: 15vw;
  padding-left: 20px;
  padding-right: 20px;
}

.flatiron-trivia-links {
  /* position: absolute; */
  bottom: 0;
  display: inline-block;
  margin-left: 2%;
}

.kl-finance {
  border: solid 5px white;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5%;
  position: relative;
  color: white;
  box-shadow: 0px 0px 15px white;
}

.kl-finance-links {
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin-left: 2%;
}

.portfolio {
  border: solid 5px white;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  color: white;
  box-shadow: 0px 0px 15px white;
}

.portfolio-links {
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin-left: 2%;
}

.projects-container {
  padding-left: 5%;
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
}

.projects-container h2 {
  text-align: center;
}

.projects-container p {
  font-size: 20px;
  text-align: center;
}

/* .projects-container li {
  font-family: 'Cutive Mono', monospace;
  font-size: 17px;
} */

.project-tech-list {
  margin-left: 5%;
  display: block;
  flex-wrap: wrap;
  overflow: visible;
  word-break: break-all;
  margin-bottom: 15%;
}

.projects-container span {
  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
  height: auto;
  display: inline-block;
  flex-wrap: wrap;
  color: white;
  border: solid 1px white;
  /* box-shadow: 0px 0px 5px white; */
  border-radius: 5px;
  margin-left: 1%;
  margin-top: 2%;
  padding: 1px 3px 1px 3px;
  margin-right: 2%;
}

.projects-header{
  text-align: center;
  font-size: 50px;
  margin-bottom: 3%;
  margin-top: 5%;
  color: white;
  text-shadow: 0px 0px 7px white;
}

.profile-pic-container img {
  /* border-radius: 50%; */
  margin-left: 5%;
  height: 30vh;
  width: 18vw;
} 

.description {
  font-family: 'Amiri', serif;
  height: auto;
  margin-bottom: 12%;
  text-align: center;
}

.design-credit {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-bottom: 2%;
}

.avatar-cli {
  border: solid 5px white;
  height: auto;
  width: 20vw;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5%;
  position: relative;
  color: white;
  box-shadow: 0px 0px 15px white;
}

.avatar-links {
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin-left: 2%;
}

.about {
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
}

.about-me-container{
  margin-left: 6%;
}

.connected {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3%;
  color: white;
  text-shadow: 0px 0px 10px white;
  font-size: 30px;
}
